<header>
  <nav class="navbar navbar-light bg-primary">
    <div class="container-fluid p-0">
      <a class="navbar-brand text-white font-weight-bold" [routerLink]="[HomePage]">ShopBridge</a>

      <form class="d-flex">
        <button type="button" class="btn btn-danger btn-sm" [routerLink]="[LoginPage]" *ngIf="!isLogin">Login</button>
        <!-- <button type="button" class="btn btn-danger btn-sm" [routerLink]="[DashbobardPage]" *ngIf="isLogin">Dashboard</button>&nbsp; -->
        <!-- <button type="button" class="btn btn-danger btn-sm" (click)="logout()" *ngIf="isLogin">Logout</button>&nbsp; -->
        <div class="btn-group" *ngIf="isLogin" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-danger btn-sm dropdown-toggle"
              aria-controls="dropdown-basic">Admin User <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" [routerLink]="[DashbobardPage]">Dashboard</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a></li>
          </ul>
      </div>
      </form>
    </div>
  </nav>
</header><!-- ./ header -->

<main>
  <router-outlet></router-outlet>
</main><!-- ./ main -->

<footer class="footer-wrapper bg-primary">
  <div class="container-fluid d-flex justify-content-between flex-wrap p-0">
    <span class="footer-text text-white">
      &copy; 2020-{{currentYear}} ShopBridge, All Rights Reserved.
    </span>
    <span class="footer-text text-white">
      Design & Developed By: Anmol Chaware
    </span>
  </div>
</footer><!-- ./ footer -->